<!DOCTYPE html>

<html>

   <head>
     <title>Request Header Parser</title>
     <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>
  
   <body>

<table>
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Sys Info</th>
      <th>Language</th>
    </tr>
  </thead>
  <tr>
    <td><%= ip %></td>
    <td><%= lang %></td>
    <td><%= sys %></td>
  </tr>
</table>
     
  </body>
</html>
